{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
<div class="body">
    <div class="left">
        <div class="kvadrat1">
            <div class="kvadrat1newtask">
                <a href="/createtask"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>New task</a>
            </div>
            <div class="kvadrat1task">
                Tasks
            </div>
            <div class="kvadrat1idea">
                Ideas
            </div>
            <div class="kvadrat1setting">
                Settings
            </div>
        </div>
        <div class="kvadrat2">
            <div class="kvadrat2text">
                Category
                <div class="kvadrat2textxxx">
                    <a href="/createcategory"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg></a>
                </div>
            </div>
        </div>
        <div class="kvadrat3">
            {% for category in categorys %}
            <div class="kvadrat3category">    
                <a href="category/{{ category.id }}/view">{{ category.name }}</a>
                <div class="kvadrat3categoryxxx">
                    <a href="/category/{{ category.id }}/delete"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-440v-80h560v80H200Z"/></svg></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="right">
    <p>Остальной фон</p>
    </div>
</div>

{% endblock %}
